$sp: "only screen and (max-width:769px) ";

@media #{$sp} {
body{
	min-height: 100%;
	height: 100%;
}

header {
  margin: 10px 0 0 0;
  padding: 0 10px;
}
.logo {
  float: left;
	margin: 0;
  img {
    height: 35px;
  }
}

/* グローバルナビ */
.gn {
	position: fixed;
	top: 0;
	right: 0;
	padding: 15px;
	border: solid 15px #fff;
	background: $color-base;
}
.gn li{
  float: none;
	text-align: center;
	line-height: 3;
	a {
		font-size: 1.1rem;
		color: #fff;
	}
}
.gn_twitter,
.gn_fb,
.gn_insta {
	position: static;
	img {
		vertical-align: middle;
	}
}
.gn_mail {
	margin: 14px 0 0;
}
.gn_twitter {
	margin: 10px 0 0;
}
.svg_mail_use,
.svg_twitter_use,
.svg_fb_use,
.svg_insta_use
{
	fill: #fff;
}

/* ハンバーガーアイコン */
.hamburger {
  position: fixed;
  top: 0;
  right: 0;
  width: 50px;
  height: 50px;
  background: $color-base;
}
.hamburger span {
	position: absolute;
	top: 50%;
	left: 10px;
	width: 30px;
	height: 1px;
	background: #fff;
	&:nth-child(1) {
		margin-top: -8px;
	}
	&:nth-child(3) {
		margin-top: 8px;
	}
}



}
