$sp: "only screen and (max-width:768px) ";

@media #{$sp} {
body{
	min-height: 100%;
	height: 100%;
}

header {
  margin: 15px 0 0 0;
  padding: 0 20px;
}
.logo {
  float: left;
	margin: 0;
  img {
    height: 35px;
  }
}


/* -------
グローバルナビ
------- */
.gn {
	display: none;
}


/* -------
ハンバーガーアイコン
------- */
.nav-box {
	right: 0;
}
.nav-box_totop,
.nav-box_sns,
.nav-box_handle {
	display: none;
}


// /* グローバルナビ */
// .gn {
// 	position: fixed;
// 	top: 0;
// 	right: -150px;
// 	padding: 15px;
// 	border: solid 15px #fff;
// 	// border-bottom: solid 60px #fff;
// 	background: $color-base;
// 	transition: .3s;
// }
// .gn.active {
// 	right: 0;
// }
// .gn li{
//   float: none;
// 	text-align: center;
// 	line-height: 3;
// 	a {
// 		font-size: 1.3rem;
// 		color: #fff;
// 	}
// }
// .gn_twitter,
// .gn_fb,
// .gn_insta {
// 	position: static;
// 	img {
// 		vertical-align: middle;
// 	}
// }
// .gn_mail {
// 	margin: 14px 0 0;
// }
// .gn_twitter {
// 	margin: 10px 0 0;
// }
// .svg_mail_use,
// .svg_twitter_use,
// .svg_fb_use,
// .svg_insta_use {
// 	fill: #fff;
// }




}
