$pc:  "only screen and (min-width:768px)";
$color-base: #1f2844;


@font-face {
    font-family: 'futura_bk_btbook';
    src: url('fonts/futura_book_font-webfont.eot');
    src: url('fonts/futura_book_font-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/futura_book_font-webfont.woff2') format('woff2'),
         url('fonts/futura_book_font-webfont.woff') format('woff'),
         url('fonts/futura_book_font-webfont.ttf') format('truetype'),
         url('fonts/futura_book_font-webfont.svg#futura_bk_btbook') format('svg');
    font-weight: normal;
    font-style: normal;
}

html {
  font-size: 62.5%;
}

body {
  color: #333;
  line-height: 1.6;
  font-family: '游ゴシック Medium', -apple-system, BlinkMacSystemFont, 'Helvetica Neue', 'Hiragino Kaku Gothic ProN', '游ゴシック Medium', meiryo, sans-serif;
}

header {
  position: relative;
  margin: 72px 0 0 0;
  padding: 0 66px;
}
.logo {
  float: left;
  img {
    height: 50px;
  }
}

/* グローバルナビ */
.gn {
  position: relative;
  float: right;
  margin: 13px 0 0 0;
}
.gn_list {}
.gn li {
    float: left;
    a {
      display: inline-block;
      margin: 0 7px;
      font-size: 1.3rem;
      letter-spacing: 0.15em;
    }
}
.gn_twitter {
  position: absolute;
  right: 75px;
  bottom: -45px;
  img {
    height: 26px;
  }
}
.gn_fb {
  position: absolute;
  right: 39px;
  bottom: -45px;
  img {
    height: 26px;
  }
}
.gn_insta {
  position: absolute;
  right: 3px;
  bottom: -45px;
  img {
    height: 26px;
  }
}
.svg_mail {
  width: 35px;
  height: 26px
}
.svg_mail_use {
	fill: #a1a1a1;
}
.svg_twitter_use {
	fill: #a1a1a1;
}
.svg_fb_use {
	fill: #a1a1a1;
}
.svg_insta_use {
	fill: #a1a1a1;
}







@media #{$pc} {
}
