$pc:  "only screen and (min-width:769px)";
$color-base: #1f2844;


@font-face {
    font-family: 'futura_bk_btbook';
    src: url('../fonts/futura_book_font-webfont.eot');
    src: url('../fonts/futura_book_font-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/futura_book_font-webfont.woff2') format('woff2'),
         url('../fonts/futura_book_font-webfont.woff') format('woff'),
         url('../fonts/futura_book_font-webfont.ttf') format('truetype'),
         url('../fonts/futura_book_font-webfont.svg#futura_bk_btbook') format('svg');
    font-weight: normal;
    font-style: normal;
}

html {
  font-size: 62.5%;
}

body {
  color: #333;
  line-height: 1.6;
  font-family: '游ゴシック Medium', -apple-system, BlinkMacSystemFont, 'Helvetica Neue', 'Hiragino Kaku Gothic ProN', '游ゴシック Medium', meiryo, sans-serif;
}
#js-body.fixed {
  position: fixed;
  width: 100%;
  overflow: hidden;
}

header {
  position: relative;
  margin: 72px 0 0 0;
  padding: 0 66px;
}
.logo {
  float: left;
  img {
    height: 50px;
  }
}


/* -------
オーバーレイ
------- */
.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(31,40,40,0.2);
}

/* -------
グローバルナビ
------- */
.gn {
  position: relative;
  float: right;
  margin: 13px 0 0 0;
}
.gn_list {}
.gn li {
    float: left;
    a {
      display: inline-block;
      margin: 0 7px;
      font-size: 1.5rem;
      letter-spacing: 0.15em;
      font-family: 'futura_bk_btbook';
    }
}
.gn_twitter {
  position: absolute;
  right: 75px;
  bottom: -45px;
  img {
    height: 26px;
  }
}
.gn_fb {
  position: absolute;
  right: 39px;
  bottom: -45px;
  img {
    height: 26px;
  }
}
.gn_insta {
  position: absolute;
  right: 3px;
  bottom: -45px;
  img {
    height: 26px;
  }
}
.svg_mail {
  width: 35px;
  height: 26px
}
.svg_mail_use {
	fill: #a1a1a1;
}
.svg_twitter_use {
	fill: #a1a1a1;
}
.svg_fb_use {
	fill: #a1a1a1;
}
.svg_insta_use {
	fill: #a1a1a1;
}


/* -------
グローバルナビ（クローン）
------- */
.gn--clone {
  position: fixed;
  top: 0;
  right: -150px;
  padding: 30px;
  margin: 13px 0 0 0;
  border: solid 15px #fff;
  background: $color-base;
	transition: .3s;
}
.gn--clone.active {
  right: 0;
}
.gn--clone li {
    text-align: center;
    line-height: 3;
    a {
      display: inline-block;
      margin: 0 7px;
      font-size: 1.3rem;
      letter-spacing: 0.15em;
      color: #fff;
      font-family: 'futura_bk_btbook';
    }
}
.gn--clone .gn_twitter {
  position: static;
  img {
    height: 26px;
    vertical-align: middle;
  }
}
.gn--clone .gn_fb {
  position: static;
  img {
    height: 26px;
    vertical-align: middle;
  }
}
.gn--clone .gn_insta {
  position: static;
  img {
    height: 26px;
    vertical-align: middle;
  }
}
.gn--clone .gn_mail {
	margin: 14px 0 0;
}
.gn--clone .gn_twitter {
	margin: 10px 0 0;
}
.gn--clone .svg_mail_use,
.gn--clone .svg_twitter_use,
.gn--clone .svg_fb_use,
.gn--clone .svg_insta_use {
	fill: #fff;
}

/* -------
NavBox, ハンバーガーアイコン
------- */
.nav-box {
	position: fixed;
	top: 0;
	right: -50px;
  transition: .3s;
}
.nav-box.active {
  right: 0;
}
.nav-box_hamburger {
	display: block;
	position: relative;
  width: 50px;
  height: 50px;
  background: $color-base;
}
.nav-box_hamburger span {
	position: absolute;
	top: 50%;
	left: 10px;
	width: 30px;
	height: 1px;
	background: #fff;
	transition: .3s;
	&:nth-child(1) {
		margin-top: -8px;
	}
	&:nth-child(3) {
		margin-top: 8px;
	}
}
.nav-box_hamburger.active span {
	&:nth-child(1) {
		margin-top: 0px;
		transform: rotate(45deg);
	}
	&:nth-child(2) {
		display: none;
	}
	&:nth-child(3) {
		margin-top: 0px;
		transform: rotate(-45deg);
	}
}

/* -------
TOTOP
------- */
.nav-box_totop {
	display: block;
	position: relative;
	width: 50px;
	height: 50px;
	border: solid 1px $color-base;
	background: #fff;
  transition: .3s;
	&::before {
		content: "";
		position: absolute;
		top: 13px;
		left: 24px;
		width: 1px;
		height: 23px;
		background: $color-base;
	}
	&::after {
		content: "";
		position: absolute;
		top: 14px;
		left: 18px;
		width: 12px;
		height: 12px;
		border-top: 1px solid $color-base;
		border-right: 1px solid $color-base;
		transform: rotate(-45deg);
	}
}
.nav-box_totop.inactive {
  display: none;
}

/* -------
SNSボタン（nav-box）
------- */
.nav-box_sns {
	display: block;
	width: 50px;
	padding: 10px 0 10px;
	text-align: center;
	border: solid 1px $color-base;
	border-top: none;
	background: #fff;
  transition: .3s;
	a {
		display: block;
		margin-top: 5px;
	}
}
.nav-box_sns.inactive {
  display: none;
}
.svg_twitter_use--side,
.svg_fb_use--side,
.svg_insta_use--side {
	fill: #a1a1a1;
}

/* -------
ハンドル
------- */
.nav-box_handle {
	display: block;
	width: 50px;
	height: 20px;
	border: solid 1px $color-base;
	border-top: none;
	background: url('../img/icon_handle.svg') no-repeat #fff;;
	background-position: center center;
	background-size: 30px 6px;
  transition: .3s;
}
.nav-box_handle.inactive {
  display: none;
}


/* -------
footer
------- */
footer {
  padding: 60px 0 10px;
  background: $color-base;
}
.logo--footer{
  text-align: center;
  img {
    width: 150px;
  }
}
.footer_sns {
  display: flex;
  justify-content: center;
  margin: 15px 0 0;
  li {
    margin: 0 4px;
  }
}
.footer_nav {
  display: flex;
  justify-content: center;
  margin: 33px 0 0;
  li {
    margin: 0 5px;
    a {
      font-size: 1.0rem;
      color: #fff;
    }
  }
}
.svg_twitter_use--footer,
.svg_fb_use--footer,
.svg_insta_use--footer {
  fill: #fff;
}
address {
  margin: 20px 0 0;
  text-align: center;
  color: #fff;
  font-size: 1.0rem;
}


@media #{$pc} {
}
