$pc:  "only screen and (min-width:769px)";
$color-base: #1f2844;/* rgba(31,40,40,1) */
@media #{$pc} {
}


/* -------
共通
------- */
h2 {
  font-family: 'futura_bk_btbook';
}
.btn_more {
  position: relative;
  display: block;
  width: 164px;
  height: 40px;
  margin: 60px auto 0;
  text-align: center;
  line-height: 40px;
  font-size: 1.3rem;
  letter-spacing: 0.1em;
  font-family: 'futura_bk_btbook';
  &::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 20px;
    height: 20px;
    border-left: solid 1px $color-base;
    border-bottom: solid 1px $color-base;
  }
  &::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 20px;
    height: 20px;
    border-top: solid 1px $color-base;
    border-right: solid 1px $color-base;
  }
}


/* -------
メインイメージ
------- */
.wrap_main-img {
  margin: 50px 0 0;
  padding: 0 40px;
}
.main-img {
  position: relative;
  width: 100%;
  height: 750px;
  overflow: hidden;
  &::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    width: 0%;
    height: 100%;
    background: #333;
    transform: translateX(0);
    z-index: 1;
    animation: 'mainImg_mask' .8s ease 1s 1 normal;
    animation-fill-mode: forwards;
  }
  &::after {
    content: "";
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: url('../img/img_main.jpg') no-repeat;
    background-size: cover;
    background-position: center;
    transform: translateX(-100%);
    animation: 'mainImg' .8s ease 1s 1 normal;
    animation-fill-mode: forwards;
   }
}
@keyframes mainImg_mask {
  0% {width: 0%;}
  50% {width: 100%; transform: translateX(0);}
  100% {width: 100%; transform: translateX(100%);}
}
@keyframes mainImg {
  0% {transform: translateX(-100%);}
  100% {transform: translateX(0%);}
}
.main-img_info {
 position: absolute;
 bottom: 0;
 right: 0;
 width: 520px;
 background: #fff;
 font-size: 1.3rem;
 z-index: 1;
}
.arrow_downward {
  position: relative;
  display: block;
  width: 45px;
  height: 64px;
  float: left;
  border: solid 1px $color-base;
  &::before {
    content: "";
    position: absolute;
    top: 21px;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 2px;
    height: 16px;
    background: $color-base;
    transform: scaleX(.5);
  }
  &::after {
    content: "";
    position: absolute;
    top: 37px;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 0;
    height: 0;
    border: solid 3px transparent;
    border-top: solid 6px $color-base;
  }
}
.main-img_info dt {
  display: block;
  float: left;
  width: 110px;
  height: 64px;
  border: solid 1px $color-base;
  border-left: none;
  text-align: center;
  line-height: 64px;
}
.main-img_info dd {
  display: block;
  float: left;
  width: 365px;
  height: 64px;
  padding: 0 0 0 15px;
  border: solid 1px $color-base;
  border-left: none;
  line-height: 64px;
}


/* -------
コンセプト
------- */
.wrap_concept {
  margin: 80px 0 100px;
  p {
    text-align: center;
  }
}
.title_concept {
  margin: 0 0 0 70px;
  padding: 13px 0 13px 25px;
  border-left: solid 3px $color-base;
  font-size: 1.6rem;
  font-weight: normal;
}
.concept_logo {
  margin: 30px 0 0;
  img {
    width: 153px;
  }
}
.concept_catch--main {
  margin: 60px 0 0;
  font-size: 4.4rem;
  font-weight: bold;
}
.concept_catch--sub {
  margin: 40px 0 0;
  font-size: 1.8rem;
  font-family: serif;
  letter-spacing: 0.1em;
}
.concept_lead {
  margin: 30px 0 0;
  font-size: 1.5rem;
  line-height: 2.0;
  letter-spacing: 0.1em;
}



/* -------
メンバー
------- */
.wrap_member {
  position: relative;
  overflow: hidden;
}
.member_left {
  position: absolute;
  top: 0;
  left: 0;
  width: 85%;
  height: 500px;
  background: url('../img/img_member.jpg') no-repeat;
  background-size: cover;
  background-position: center;
  &::after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    right: -20px;
    width: 200px;
    height: 500px;
    background: #fff;
    transform: skewX(-15deg) translateX(50px);
  }
}
.member_right {
  position: relative;
  float: right;
  width: 65%;
  margin: 100px 0 0;
  padding: 50px 0 50px 200px;
  z-index: 1;
  &::after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: rgba(24,40,121,0.7);
    transform: skewX(-15deg) translateX(70px);
    z-index: -1;
  }
  p {
    margin: 40px 0 0;
    font-size: 1.5rem;
    line-height: 2.2;
    letter-spacing: 0.1em;
    color: #fff;
  }
}
.title_member {
  position: relative;
  margin: 0 0 0 60px;
  color: #fff;
  font-weight: normal;
  font-size: 3.7rem;
  letter-spacing: 0.1em;
  &::after {
    content: "";
    display: block;
    position: absolute;
    bottom: -7px;
    left: 90px;
    width: 70px;
    height: 3px;
    background: #fff;
  }
}
.btn_more--white {
  position: relative;
  display: block;
  width: 164px;
  height: 40px;
  margin: 60px 0 0 90px;
  text-align: center;
  line-height: 40px;
  font-size: 1.3rem;
  color: #fff;
  letter-spacing: 0.1em;
  font-family: 'futura_bk_btbook';
  &::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 20px;
    height: 20px;
    border-left: solid 1px #fff;
    border-bottom: solid 1px #fff;
  }
  &::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 20px;
    height: 20px;
    border-top: solid 1px #fff;
    border-right: solid 1px #fff;
  }
}


/* -------
サービス
------- */
.wrap_service {
  display: flex;
  justify-content: center;
  margin: 150px 0 0;
}
.service_left {
  width: 40%;
  margin: 60px 30px 0 0;
  p {
    margin: 50px 0 0;
    font-size: 1.5rem;
    line-height: 2.2;
  }
}
.service_right {
  width: 33%;
  min-height: 500px;
  margin: 0 0 30px 60px;
  background: url('../img/img_service.jpg') no-repeat;
  background-size: contain;
}
.title_service {
  position: relative;
  text-align: center;
  font-size: 4.0rem;
  color: $color-base;
  letter-spacing: 0.1em;
  &::before {
    content: "";
    display: block;
    position: absolute;
    top: -10px;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 50px;
    height: 4px;
    background: $color-base;
  }
}


/* -------
インフォメーション & ブログ
------- */
.wrap_info-and-blog {
  display: flex;
  margin: 80px 0 0;
}
.wrap_info {
  width: 50%;
  padding: 70px 5%;
  background: #284181;
}
.title_info {
  position: relative;
  margin: 0 0 40px;
  text-align: center;
  color: #fff;
  font-weight: normal;
  font-size: 3.3rem;
  letter-spacing: 0.1em;
  span {
    position: relative;
    &::before {
      content: "";
      display: block;
      position: absolute;
      top: 22px;
      left: -60px;
      width: 35px;
      height: 2px;
      background: #fff;
    }
    &::after {
      content: "";
      display: block;
      position: absolute;
      top: 22px;
      right: -60px;
      width: 35px;
      height: 2px;
      background: #fff;
    }
  }
}
.wrap_info {
  dl {
    display: flex;
    margin: 0 0 20px;
    padding: 5px 0 20px;
    border-bottom: dashed 1px #ddd;
    dt {
      width: 20%;
      margin: 2px 0 0;
      font-size: 1.3rem;
      color: #fff;
    }
    dd {
      width: 75%;
      margin: 0 0 0 2%;
      a {
      font-size: 1.3rem;
      color: #fff;
      }
    }
  }
}
.btn_more--white--center {
  position: relative;
  display: block;
  width: 164px;
  height: 40px;
  margin: 60px auto;
  text-align: center;
  line-height: 40px;
  font-size: 1.3rem;
  color: #fff;
  letter-spacing: 0.1em;
  font-family: 'futura_bk_btbook';
  &::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 20px;
    height: 20px;
    border-left: solid 1px #fff;
    border-bottom: solid 1px #fff;
  }
  &::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 20px;
    height: 20px;
    border-top: solid 1px #fff;
    border-right: solid 1px #fff;
  }
}
.wrap_blog {
  width: 50%;
  padding: 70px 5%;
}
.title_blog {
  position: relative;
  margin: 0 0 40px;
  text-align: center;
  color: $color-base;
  font-weight: normal;
  font-size: 3.3rem;
  letter-spacing: 0.1em;
  span {
    position: relative;
    &::before {
      content: "";
      display: block;
      position: absolute;
      bottom: 0;
      right: -30px;
      width: 25px;
      height: 2px;
      background: $color-base;
    }
    &::after {
      content: "";
      display: block;
      position: absolute;
      bottom: 0;
      right: -58px;
      width: 25px;
      height: 2px;
      background: $color-base;
    }
  }
}
.blog_article_item {
  display: flex;
  margin: 15px 0 0;
}
.wrap_blog-thumb {
  display: block;
  width: 120px;
  height: 120px;
  background: #ddd;
  img {
    width: 100%;
    height: 100%;
  }
}
.wrap_blog-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 0 0 15px;
  dt {
    margin: 0 0 5px;
    color: #666;
  }
  dd {
    font-size: 1.3rem;
  }
}
.wrap_blog-cat {
  margin: 10px 0 0;
  a {
    display: inline-block;
    border: solid 1px #ddd;
    margin: 0 5px 0 0;
    padding: 3px 8px;
    font-size: 1.1rem;
  }
}


/* -------
リクルート
------- */
.wrap_recruit {
  margin: 110px 0 0;
  p {
    text-align: center;
    &:nth-of-type(1) {
      margin: 0 0 5px;
      font-size: 2.8rem;
    }
    &:nth-of-type(2) {
      margin: 0 0 20px;
      font-size: 1.5rem;
    }
    &:nth-of-type(3) {
      font-size: 4.0rem;
    }
  }
}
.title_recruit {
  position: relative;
  margin: 0 0 40px;
  text-align: center;
  color: $color-base;
  font-weight: normal;
  font-size: 1.8rem;
  letter-spacing: 0.1em;
  span {
    position: relative;
    &::before {
      content: "";
      display: block;
      position: absolute;
      top: 10px;
      left: -40px;
      width: 25px;
      height: 2px;
      background: $color-base;
    }
  }
}


/* -------
ギャラリー
------- */
.gallery_upper {
  position: relative;
  margin: 20px 0 0;
  line-height: 0;
  overflow: hidden;
  &::before {
    content: "";
    display: block;
    position: absolute;
    top: -50px;
    left: 0;
    width: 120%;
    height: 100px;
    background: #fff;
    transform: rotate(3deg);
  }
  img {
    height: auto;
  }
}
.gallery_lower {
  position: relative;
  line-height: 0;
  overflow: hidden;
  &::before {
    content: "";
    display: block;
    position: absolute;
    bottom: -50px;
    right: 0;
    width: 120%;
    height: 100px;
    background: #fff;
    transform: rotate(3deg);
  }
  img {
    height: auto;
  }
}
