@import "reset";
@import "utility";

html {
  font-size: 62.5%;
}

body {
  color: #333;
  line-height: 1.6;
  font-family: '游ゴシック Medium', -apple-system, BlinkMacSystemFont, 'Helvetica Neue', 'Hiragino Kaku Gothic ProN', '游ゴシック Medium', meiryo, sans-serif;
}

header {
  margin: 72px 0 0 0;
  padding: 0 66px;
}
.logo {
  float: left;
}
.gn {
  position: relative;
  float: right;
  margin: 13px 0 0 0;
}
.gn ul li {
  float: left;
}
.gn ul li a {
  display: inline-block;
  margin: 0 7px;
  font-size: 1.3rem;
  letter-spacing: 0.15em;
}
.gn_twitter {
  position: absolute;
  right: 75px;
  bottom: -45px;
}
.gn_fb {
  position: absolute;
  right: 39px;
  bottom: -45px;
}
.gn_insta {
  position: absolute;
  right: 3px;
  bottom: -45px;
}
